<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Customer Management</title>
	<link rel="shortcut icon" type="image/png" href="/assets/images/logos/logo-icon.png" />
	<link rel="stylesheet" href="/assets/css/styles.min.css" />
	<link rel="stylesheet" href="/assets/css/main.css">
	<link rel="stylesheet" href="/assets/fonts/all.css">
</head>

<body>
	<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
		data-sidebar-position="fixed" data-header-position="fixed">
		<!-- Sidebar Start -->
		<header th:replace="~{/layout/admin/menu.html::asidebar-admin}"></header>
		<!--  Sidebar End -->
		<!--  Main wrapper -->
		<div class="body-wrapper">
			<!--  Header Start -->
			<header th:replace="~{/layout/admin/header.html::navbar-admin}"></header>
			<!--  Header End -->
			<div class="container-fluid">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title fw-semibold mb-4">Account Management</h5>
						<div class="card">
							<div class="card-body">
								<form th:object="${account}" method="post" onsubmit="return validateForm();">
									<div class="row">
										<div class="col-lg-3">
											<div class="mb-3">
												<label for="exampleInputEmail1" class="form-label">
													Username: </label>
												<input type="text" path="ID" class="form-control " id="idaccount"
													th:field="*{username}" placeholder="Username"/>
												<div class="alert alert-danger mt-1"
													th:if="${#fields.hasErrors('Username')}" th:errors="*{Username}">
												</div>
											</div>
										</div>
										<div class="col-lg-3">
											<!-- phone input -->
											<div class="mb-3">
												<label for="exampleInputPassword1" class="form-label">Phone
													Number: </label>
												<input type="number" class="form-control" th:field="*{Phone}" id="Phone"
													placeholder="Phone" />
												<div class="alert alert-danger mt-1"
													th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
													
													
													
													<!-- Hiển thị thông báo lỗi Số điện thoại -->
<!--<div th:if="${#fields.hasErrors('phone')}" class="alert alert-danger">
    <p th:text="${#fields.errors('phone')}"></p>
</div>-->

													
											</div>
										</div>
										<div class="col-lg-6">
											<div class="mb-3">
												<label for="exampleInputPassword1" class="form-label">Password:
												</label>
												<input class="form-control" th:field="*{Password}" id="Password"
													placeholder="Password" type="text"/>
												<div class="alert alert-danger mt-1"
													th:if="${#fields.hasErrors('Password')}" th:errors="*{Password}">
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-6">
											<div class="mb-3">
												<label for="exampleInputPassword1" class="form-label">Full
													Name: </label>
												<input type="text" path="customertname" class="form-control"
													th:field="*{Fullname}" id="Fullname" placeholder="Fullname" />
												<div class="alert alert-danger mt-1"
													th:if="${#fields.hasErrors('Fullname')}" th:errors="*{Fullname}">
												</div>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="mb-3">
												<label for="" class="form-label">Email: </label>
												<input type="text" path="email" class="form-control" th:field="*{Email}"
													id="Email" placeholder="Email" />
												<div class="alert alert-danger mt-1"
													th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
													
													
													<!-- Hiển thị thông báo lỗi Email -->
<!--<div th:if="${#fields.hasErrors('email')}" class="alert alert-danger">
    <p th:text="${#fields.errors('email')}"></p>
</div>-->
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-6">
											<div class="mb-3">
												<label for="" class="form-label d-block">Gender</label>
												<ul>
													<div class="form-check form-check-inline mt-">
														<li th:each="gen : ${genders}">
															<input class="form-check-input" type="radio"
																th:field="*{Gender}" th:value="${gen.key}" value="true"
																name="gender" id="gender" / <label
																th:text="${gen.value}"></label>
														</li>
													</div>
												</ul>
												<div class="alert alert-danger mt-1"
													th:if="${#fields.hasErrors('Gender')}" th:errors="*{Gender}"></div>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="">
												<label for="" class="form-label d-block">Active</label>
												<ul>
													<div class="form-check form-check-inline mt-">
														<div th:each="gen : ${roles}">
															<input class="form-check-input" type="radio"
																th:field="*{Active}" th:value="${gen.key}" value="true"
																name="gender" id="role" />
															<label th:text="${gen.value}"></label>
														</div>
													</div>
												</ul>
												<div class="alert alert-danger mt-1"
													th:if="${#fields.hasErrors('Active')}" th:errors="*{Active}"></div>
													
													
																					<!-- Hiển thị thông báo thành công -->
   
											</div>
										</div>
										
		 <div th:if="${successMessage}" class="alert alert-success" style="height: 50px;">
        <p th:text="${successMessage}"></p>
    </div>

    <!-- Hiển thị thông báo lỗi -->
    <div th:if="${errorMessage}" class="alert alert-danger">
        <p th:text="${errorMessage}"></p>
    </div>
										
										<div class="col-lg-12">
											<button type="submit" class="btn btn-primary me-2" id="submitButton"
												formaction="/admin/saveaccount">Submit</button>
											<button type="submit" formaction="/admin/updateaccount"
												class="btn btn-primary me-2 d-none" id="updateButton">Update</button>
											<a onclick="return confirm('Bạn có chắc muốn xóa không?');"
												th:href="'/admin/deleteaccount/' + *{username}"
												class="btn btn-danger me-2">Delete</a>
											<a href="/admin/account" class="btn btn-primary">Clear</a>
										</div>
								</form>
							</div>
						</div>
					</div>
					<div class="row mb-3">
						<h5 class="col-6 card-title fw-semibold my-auto">Account table</h5>
						<div class="col-6 head-search-form">
							<form action="/admin/searchAC" method="get">
								<div class="input-group">
									<input type="text" class="form-control position-relative" placeholder="Search"
										name="keyword" th:value="${keywords}" />
									<button class="btn btn-outline-secondary" type="submit">
										<i class="ti ti-search search-icon-form"></i>
									</button>
								</div>
							</form>
						</div>
					</div>
					<!-- phân trang -->
					<div th:if="${pages != null}">
						<div th:if="${not #lists.isEmpty(pages.content)}">
							<div class="col-lg-12 d-flex justify-content-center">
								<div class="card w-100">
									<div class="card-body p-4">
										<h5 class="card-title fw-semibold mb-4">Recent Information</h5>
										<div class="table-responsive">
											<table class="table text-nowrap mb-0 align-middle">
												<thead class="text-dark fs-4">
													<tr>
														<th class="border-bottom-0">
															<h6 class="fw-semibold mb-0">Username</h6>
														</th>
														<th class="border-bottom-0">
															<h6 class="fw-semibold mb-0">Full Name</h6>
														</th>
														<th class="border-bottom-0">
															<h6 class="fw-semibold mb-0">Password</h6>
														</th>
														<th class="border-bottom-0">
															<h6 class="fw-semibold mb-0">Gender</h6>
														</th>
														<th class="border-bottom-0">
															<h6 class="fw-semibold mb-0">Phone number</h6>
														</th>
														<th class="border-bottom-0">
															<h6 class="fw-semibold mb-0">Email</h6>
														</th>
														<th class="border-bottom-0">
															<h6 class="fw-semibold mb-0">Active</h6>
														</th>
														<th class="border-bottom-0">
															<h6 class="fw-semibold mb-0">Delete</h6>
														</th>
														<th class="border-bottom-0">
															<h6 class="fw-semibold mb-0">Edit</h6>
														</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="account : ${pages.content}">
														<td class="border-bottom-0">
															<h6 class="border-bottom-0" th:text="${account.username}">
															</h6>
														</td>
														<td class="border-bottom-0">
															<h6 class="border-bottom-0" th:text="${account.Fullname}">
															</h6>
														</td>
														<td class="border-bottom-0">
															<h6 th:text="${account.Password}"></h6>
														</td>
														<td class="border-bottom-0">
															<h6 th:text="${account.Gender} ? 'Nam' : 'nữ'"></h6>
														</td>
														<td class="border-bottom-0">
															<h6 th:text="${account.Phone}"></h6>
														</td>
														<td class="border-bottom-0">
															<h6 th:text="${account.Email}"></h6>
														</td>
														<td class="border-bottom-0">
															<h6
																th:text="${account.Active} ? 'Hoạt động':'Không hoạt động'">
															</h6>
														</td>
														<td class="border-bottom-0">
															<a th:href="'/admin/deleteaccount/'+ ${account.username}"
																class="text-danger">
																<i class="fa-solid fa-trash"></i></a>
														</td>
														<td class="border-bottom-0">
															<a th:href="'/admin/editaccount/'+${account.username}+'?showUpdate=true'"
																class="text-warning"><i
																	class="fa-solid fa-pencil"></i></a>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<!-- Pagination -->
							<nav aria-label="Page navigation">
								<ul class="pagination justify-content-center">
									<li th:each="number : ${#numbers.sequence(1, pages.totalPages)}"
										th:class="${currentPage==number-1 ? 'page-item active' : 'page-item'}">
										<a class="page-link" th:href="@{/admin/account?p={num}(num=${number-1})}"
											th:text="${number}"></a>
									</li>
								</ul>
							</nav>
							<!-- End Pagination -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--  Body Wrapper -->
	<script>
		const editButtons = document.querySelectorAll('.edit-button');
		const updateButton = document.getElementById('updateButton');
		const submitButton = document.getElementById('submitButton');
		const idaccount = document.getElementById('idaccount');

		// Lấy tham số từ URL
		const urlParams = new URLSearchParams(window.location.search);
		const showUpdate = urlParams.get("showUpdate");

		// Kiểm tra giá trị tham số và hiển thị nút "Update" nếu cần thiết
		if (showUpdate === "true") {
			// Hiển thị nút "Update" và ẩn nút "Submit"
			updateButton.classList.remove('d-none');
			submitButton.classList.add('d-none');
			idaccount.disabled = true;
			updateButton.addEventListener('click', function () {
				// Check if the input field is empty
				if (idaccount.value.trim() === '') {
					// Display an error message or take appropriate action
					alert('Please enter a username.');
				} else {
					// Enable the input field
					idaccount.disabled = false;
				}
			});
		} else {
			// Ẩn nút "Update" và hiển thị nút "Submit" mặc định
			updateButton.classList.add('d-none');
			submitButton.classList.remove('d-none');
		}

		editButtons.forEach((button) => {
			button.addEventListener('click', function () {
				// Ẩn nút "Submit" và hiển thị nút "Update"
				submitButton.classList.add('d-none');
				updateButton.classList.remove('d-none');
			});
		});

		updateButton.addEventListener('click', function (event) {
			// Ẩn nút "Update" và hiển thị nút "Submit"
			updateButton.classList.add('d-none');
			submitButton.classList.remove('d-none');
		});
		
		//thông báo xóa
		function confirmDelete(AccountID) {
			if (confirm("Bạn có chắc muốn xóa không?")) {
				window.location.href = '/admin/delete/' + AccountID;
			}
			return false;
		}
	</script>
	<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
	<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="../assets/js/sidebarmenu.js"></script>
	<script src="../assets/js/app.min.js"></script>
	<script src="../assets/libs/simplebar/dist/simplebar.js"></script>
</body>

</html>