<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<footer class="mt-5" th:fragment="footer-user">
		<div class="container-fluid b text-black shadow-lg border-top">
			<div class="row  " >
				<div class="col-4">
					<div class=" border-0">
						<h2 class="mt-4 fw-bold">FlashMart chúng tôi luôn luôn trải
							lòng với bạn!</h2>
						<div class="card-body">
							<p class="card-text">Chúng tôi luôn trân trọng và mong đợi
								nhận được mọi ý kiến đóng góp từ khách hàng để có thể nâng cấp
								trải nghiệm dịch vụ và sản phẩm tốt hơn nữa.</p>
							<button class="btn btn-primary rounded-4 p-2">Đóng góp ý
								kiến</button>
						</div>
					</div>
				</div>
				<div class="col-4" id="contact">
					<div class="">
						<div class="card-body ms-5">
							<h5 class="card-title mt-4">Hotline</h5>
							<span class="d-block"><i class="fa fa-solid fa-phone "></i>
								0975845376 - 0395748696 <br> (7:00 A.M -22:200 P.M)</span><br>
							<span ><i class="fa fa-solid fa-mail-bulk"></i> Email:
								nguyenhoangphi.hgi@gmal.com</span>
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="">
						<div class="card-body mt-5 fs-1">
							<span><i class="fa-brands fa-facebook me-4"></i></span> <span><i
									class="fa-brands fa-instagram me-4"></i></span> <span><i
									class="fa-brands fa-youtube me-4"></i></span> <span><i
									class="fa-brands fa-twitter me-4"></i></span> <span><i
									class="fa-brands fa-google-plus-g me-4"></i></span>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="row" >
				<div class="col-2">
					<div class="">
						<div class="card-body mt-3">
							<h5 class="card-title text- mb-3 fw-bolder">FlashMartclub</h5>
							<p class="card-text">Đăng ký thành viên</p>
							<p class="card-text">Ưu đãi & đặc quyền</p>
						</div>
					</div>
				</div>
				<div class="col-2" >
					<div class="">
						<div class="card-body mt-3">
							<h5 class="card-title mb-3 fw-bolder">CHÍNH SÁCH</h5>
							<p>Đăng ký thành viên</p>
							<p>Ưu đãi & đặc quyền</p>
							<p>Chính sách đổi trả 60 ngày</p>
							<p>Chính sách khuyến mãi</p>
							<p>Chính sách bảo mật</p>
							<p>Chính sách giao hàng</p>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="">
						<div class="card-body mt-3 ">
							<h5 class="card-title text- mb-3 fw-bolder">CHĂM SÓC KHÁCH
								HÀNG</h5>
							<p>Trải nghiệm mua sắm 100% hài lòng</p>
							<a href="FAQs.html" class="text-decoration-none text-white">
								<p class="mb-5">Hỏi đáp - FAQs</p>
							</a>
							<h5 class="fw-bolder mb-4">KIẾN THỨC MẶC ĐẸP</h5>
							<p>Hướng dẫn chọn size</p>
							<a href="trangtintuc.html" class="text-decoration-none text-white">
								<p>Blog</p>
							</a>
							<p>Group mặc đẹp sống chất</p>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="">
						<div class="card-body mt-3">
							<h5 class="card-title text-uppercase mb-3 fw-bolder">TÀI
								LIỆU - TUYỂN DỤNG</h5>
							<p>Tuyển dụng</p>
							<p>Đăng ký bản quyền</p>
							<h5 class="card-title text-uppercase mt-5 mb-3 fw-bolder">về
								FlashMart</h5>
							<p>FlashMart 101</p>
							<p>Đăng ký bản quyền</p>
							<p>DVKH xuất sắc</p>
							<p>Khách hàng thân thiết</p>
							<p>Câu chuyện về Coolmate</p>
							<p>Nhà máy</p>
							<p>Care & Share</p>
						</div>
					</div>
				</div>
				<div class="col-2">
					<div class="">
						<div class="card-body mt-3">
							<h5 class="card-title text-uppercase mb-3 fw-bolder">ĐỊA CHỈ
								LIÊN HỆ</h5>
							<p>
								Văn phòng Hà Nội: Tầng 3-4, Tòa nhà BMM,KM2,<br> Đường
								Phùng Hưng, Phường Phúc La, Quận Hà Đông, TP Hà Nội
							</p>
							<p>Văn phòng Tp HCM: Lầu 1, Số 163 Trần Trọng Cung, Phường
								Tân Thuận Đông, Quận 7, Tp. Hồ Chí Minh.</p>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="copyright">
				<div class="">
					<div class="card-body">
						<div class="row">
							<div class="col-9">
								<p class="card-text">@ CÔNG TY TNHH MF</p>
								<p class="card-text">Mã số doanh nghiệp: 0108617038. Giấy
									chứng nhận đăng ký doanh nghiệp do Sở Kế hoạch và Đầu tư TP Hà
									Nội cấp lần đầu ngày 20/02/2019</p>
							</div>
							<div class="col-3">
								<div class="">
									<div class="card-body">
										<img src="/assets/images/products/Coolmate-info.webp" alt="" class="me-5"> <img
											src="/assets/images/products/logoSaleNoti.webp" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>